.background-img {
    background-image: url("../img/background.jpg") !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.background-img-two {
    background-image: url("../img/background2.jpg") !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.background-color-buy {
    background-color: orange;
    margin-left: -50px;
    width: 50%;
}

.background-color-filter {
    background-color: #1976d2;
}

.background-transparent {
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 480px) {
    .background-color-buy {
        margin-left: 0;
        width: 100%;
    }
}