.btn {
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    text-decoration: none !important;
}

.btn:focus {
    box-shadow: 0 0 0 2px rgba(0,0,0,.2);
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-dark,
.btn-orange,
.btn-disable,
.btn-muted,
.btn {
    color: #fff;
}

.btn-white {
    background-color: #fff;
}

.btn-white:hover {
    background-color: #bdbdbd;
}

.btn-lg {

}

.btn-sm {

}

.btn-danger {
    background-color: #d32f2f;
    border-color: #d50000;
}

.btn-danger:hover {
    background-color: #b71c1c;
    border-color: #b71c1c;
}

.btn-primary {
    background-color: #1976d2;
    border: 2px solid #1976d2;
}

.btn-primary:hover {
    background-color: #01579b;
}

.btn-secondary {
   background-color: #bdbdbd;
}
.btn-secondary:hover {
    background-color: #757575;
}

.btn-muted {
    background-color: #ccc;
    border: 2px solid #ccc;
}

.btn-muted:hover {
    background-color: #bdbdbd;
}

.btn-success {
    background-color: #388e3c;
}

.btn-success:hover {
    background-color: #1b5e20;
}

.btn-dark {
    background-color: #424242;
}

.btn-dark:hover {
    background-color: #212121;
}

.btn-orange {
    background-color: #f57c00;
}

.btn-orange:hover {
    background-color: #ef6c00;
}

.btn-profile {
    background-color: #808080;
    border: 1px solid #808080;
    border-radius: 50%;
    padding: 3%;
    margin-left: 10px;
    color: #ffffff;
}

.btn-block {
    width: 100%;
    text-align: center;
}

.btn-list-mode {
    padding: 5px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}


.btn-previous,
.btn-next {
    width: 48px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border:none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    border-radius: 100%;
}

.btn-previous {
    margin-left: 10px;
}

.btn-next {
    margin-right: 10px;
}

.btn-primary-outline {
    border: 2px solid #1976d2;
    color: #1976d2;
}

.btn-disable {
    background-color: #ccc;
    border-color: #ccc;
    cursor: default;
}

.btn-logout {
    color: #ffff;
    cursor: pointer;
    border: 2px solid #1976d2;
    background-color: #1976d2;
}

.btn-logout:hover {
    background-color: #1565c0;
}