.text-primary {
    color: #1976d2;
}

.text-secondary {
    color: #444444;
}

.text-info {
    
}

.text-warning {
    color: #fbc02d;
}

.text-green {
    color: #388e3c;
}

.text-danger {
    color: #d32f2f
}

.text-white {
    color: #fff;
}

.bg-primary {
    background-color: #1976d2;
}

.bg-secondary {
    
}

.bg-white {
    background-color: #fff;
}

.bg-dark {

}

.bg-danger {
    background-color: #d32f2f;
}

.bg-muted {
    background-color: #ccc;
}

.bg-green {
    background: rgba(0, 128, 0, .3);
}

.bg-snow {
    background-color: #FFFAFA;
}