input, select {
    border-radius: 5px;
    border: 2px solid #bdbdbd;
    padding: 5px 10px;
    outline: none;
    height: 45px;
    font-weight: bold;
    font-size: 1rem;
}

.input {
    border-radius: 0;
    border: 0;
    padding: 0;
    outline: none;
    height: 0;
}

input:focus {
    box-shadow: 0 0 0 2px rgba(0,0,0,.2);
}
.checkbox {
    position: absolute;
    right: 5px;
    width: 20%;
}

.checkbox:focus {
    box-shadow: 0 0 0 0 !important;
}

select {
    background-color: #ffffff;
    color: #757575;
}

textarea {
    border-radius: 5px;
    border: 2px solid #bdbdbd;
    padding: 5px;
    margin: 5px;
    outline: none;
}

select {

}

option {
    
}

