.page-new-ad {
    width: 60%;
    margin: auto;
    margin-top: 80px !important;
    text-align: left;
}

.page-new-ad-header {
    width: 100%;
    color: #888;
}

.card {
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    border-radius: 10px;
    width: 100%;
}

.card-header {
    margin: 0;
    color: #ffffff;
    padding: 30px 20px;
    background-color: #1976d2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.card-body {
    padding: 30px 20px;
}

.card-span {
    display: inline-block;
    margin-top: 10px;
}

.radio-select, .radio-select-1, .radio-select-2 {
    display: inline-block;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.radio-select-1{
    width: 20%;
}

.radio-select-2 {
    width: 40%;
}

.thumb{
    height: 70px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.select-span{
    border: 4px solid #1976d2 !important;
}

/*Estilo adicionado*/

#list-images {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
}

#list-images .list-images-item {
    position: relative;
}

#list-images .list-images-item button {
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: #f20;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 5px;
    border: 1px solid #900;
    cursor: pointer;
    display: none;
}

#list-images .list-images-item:hover > button{
    display: block;
}

#list-images .list-images-item button:hover {
    background-color: #900;
}

@media (max-width: 480px) {
    .container-fluid {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .create-ad {
        padding: 0;
    }

    .radio-select-1 {
        width: 100%;
    }

    .image-load {
        text-align: center;
    }

    .load {
        width: 100%;
    }

    .form-end {
        text-align: center;
    }

    .btn-cancel {
        width: 80%;
    }

    .btn-enter {
        width: 80%;
        margin-top: 10px;
    }
}