.container-fluid,
.container {
    width: 1170px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.container-fluid-m {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.card {

}

.card-body {

}

.card-header {
    
}

.row {
    display: flex;
}

.col {

}

.col-3 {
    width: 25%;
}

.col-3-1 {
    width: 20%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666666%;
}

.col-9-0 {
    width: 70%;
}

.col-9 {
    width: 75%;
}


@media (max-width: 768px) {
    .col {

    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .container-fluid-m {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .row {
        flex-direction: column;
    }

    .row [class^="col-"] {
        width: 100%;
    }
}