.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    top: 0;
    z-index: 1040;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-header-logo {
    text-align: center;
}

.navbar-collapse-btn {
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    min-height: 42px;
    outline: none;
}

.navbar-collapse-btn > span {
    width: 30px;
    height: 2px;
    display: block;
    background-color: #888;
    margin-top: 7px;
    transition: transform 300ms ease;
}

.navbar-collapse-btn-collapsed > span:nth-child(2) {
    display: none;
}

.navbar-collapse-btn-collapsed > span:first-child {
    transform: translate3d(0, 4px, 0) rotate(45deg);
}

.navbar-collapse-btn-collapsed > span:last-child {
    transform: translate3d(0, -4px, 0) rotate(135deg);
}

.navbar-collapse-btn > span:first-child {
    margin-top: 0;
}

.navbar-nav-collapse-items {
    display: none;
    position: fixed;
    height: calc(100% - 80px);
    top: 78px;
    width: 80%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #000000;
    transform: translate3d(100%, 0, 0);
    transition: transform 300ms ease;
}

@media (max-width: 468px) {
    .navbar-header-logo {
        text-align: left;
        padding-left: 10px;
    }

    .navbar-collapse-btn {
        display: inline-block;
    }

    .navbar-nav-collapse-items {
        display: block;
    }

    .navbar-nav-collapse-items-collapsed {
        transform: translate3d(0%, 0, 0);
    }
}