@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.d-none-sm {
    display: block;
}   

.d-none-xs,
.d-none {
    display: none;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.float-left {
    float: left;
}

.z-index-1010 {
    z-index: 1010;
}

.z-index-1020 {
    z-index: 1020;
}

@media (max-width: 320px) {
    .d-none-xs {
        display: inline-block;
    }
}

@media (max-width: 468px) {
    .d-none-sm {
        display: none;
    }
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline {
    display: inline;
}

.d-flex {
    display: flex;
}

.items-align-center {
    align-items: center;
}

.items-align-end {
    align-items: end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0,0,0,.5);
}

.text-shadow-blue {
    text-shadow: 1px 1px #1976d2;
}

.text-size {
    font-size: 60px;
}

.text-size-30 {
    font-size: 30px;
}

.text-muted {
    color: #888;
}

a {
    text-decoration: none;
    color: #1976d2;
}

/*a:hover {
    text-decoration: underline;
}*/

.m-default {
    margin: 0;
}

.m-5 {
    margin: 2px;
}

.m-10 {
    margin: 10px;
}

.m-25 {
    margin: 25px;
}

.m-l-20 {
    margin-left: 20px;
}

.mt-default {
    margin-top: 0 !important;
}

.mb-default {
    margin-bottom: 0;
}

.m-auto {
    margin: auto;
}

.mt {
    margin-top: 2px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2{
    margin-top: 10px;
}

.m-3,
.mt-3 {
    margin-top: 15px;
}

.mt-200 {
    margin-top: 200px !important;
}

.mt-20-negative {
    margin-top: -20px;
}

.mt-35 {
    margin-top: -35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-300 {
    margin-top: -300px;
}

.mt-4{
    margin-top: 120px !important;
}
.mt-80 {
    margin-top: 80px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.m-3,
.mb-3 {
    margin-bottom: 15px !important;
}

.mb-5 {
    margin-bottom: 5px;
}


.mb-4 {
    margin-bottom: 50px;
}

.m-3,
.ml-3 {
    margin-left: 15px;
}
.ml-7 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25%;
}

.ml-30 {
    margin-left: 30%;
}

.ml-35 {
    margin-left: 35%;
}

.mr-0 {
    margin-right: 0;
}

.m-3,
.mr-3 {
    margin-right: 15px;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100% !important;
}

.w-30 {
    width: 30%;
    display: block;
}

.h {
  height: 0;
}

.h-225 {
    height: 225px;
}

.h-vh {
    height: 100vh !important;
}

.padding-20 {
    padding: 20px;
}

.p-40 {
    padding: 40px;
}

.p-10 {
    padding: 10px;
}

.p-l-10 {
    padding-left: 10%;
}

.p-r-10 {
    padding-right: 10%;
}


.p-7 {
    padding: 5px;
}

.p-3 {
    padding: 15px;
}

.pt-3 {
    padding-top: 15px !important;
}

.pb-3 {
    padding-bottom: 15px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.p-4 {
    padding: 4px;
}

.p-opt {
    padding:    2px 10px 2px 10px;
}

.p-opt-2 {
    padding: 30px 50px 30px 50px;
}

.box-sh {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5) ;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-opt {
    border: 1px solid #ccc;
}

.b-rds {
    border-radius: 10px;
} 


.border-radius {
    border-radius: 10px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border {
    border : 2px solid rgba(0,0,0,.3);
}

.filter-trading {
    margin: 0;
    border: none;
    border-radius: 10px;
    margin-top: 10px !important;
}

.filter-type {
    margin: 0;
    border: none;
    border-radius: 10px;
    margin-top: 30px !important;
}

.sub-menu {
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #ccc;
    margin-top: 31px;
    margin-left: 70%;
    width: 40%;
}

.sub-menu  > ul, .navbar-nav-collapse-items > ul {
    list-style: none;
    padding: 0;
}

.sub-menu > ul > li, .navbar-nav-collapse-items > ul > li {
    padding: 10px;
}

@media (max-width: 480px) {
    .w-30 {
        width: 90%;
        display: block;
    }   
}

.img-responsive {
    width: 100%;
    height: auto;
}

.img-responsive-2 {
    width: 100% !important;
    height: 300px;
}

.align-text {
    text-align: right;
}

.border-none {
    border: none;
}

.config-info-ad {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14pt;
}

.text-justify {
    text-align: justify;
}

.text-size-12 {
    font-size: 12pt;
    font-weight: bold;
}

.link-actual {
    color: #000;
    text-decoration: none !important;
}

.border-markup-img {
    border: 3px solid #01579b;
}

.cursor-point {
    cursor: pointer;
}

textarea {
    resize: none;
}

.arrow-down, .arrow-up {
    border-left: solid #ffffff;
    border-bottom: solid #ffffff;
    width: 10px;
    height: 10px;
    float: right;
    cursor: pointer;
}

.arrow-down {
    transform: rotate(310deg);
}

.arrow-up {
    transform: rotate(130deg);
}

.pointer {
    cursor: pointer;
}

.display {
    display: none;
}

.result-search {
    padding-left: 60px;
    width: 70%;
}

.div-internal-result {
    background-color: #ffc;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-size: 12px;
    width: 100%;
    text-align: left;
}

.div-internal-result:hover {
    background-color: #fff59d;
}

.float-right {

    float: right;
}

.profile {
   text-transform: uppercase;
}

@media (max-width: 468px) {

    .ml-default-m {
        margin-left: 0;
    }


    .card-search {
        width: 100% !important;
    }
    h1 {
        font-size: 24px !important;
    }
    .radio-select {
        width: 49% !important;
        font-size: 15px !important;
    }
    .js-field {
        margin-bottom: 20px;
        width: 100% !important;
    }
    .btn-search {
        width: 100%;
        font-size: 10px;
    }
    .result-search {
        padding-left: 0px !important;
        margin-top: 10px;
        width: 100%;
    }

    .page-new-ad {
        width: 100% !important;
    }

    select {
        width: 100% !important;
    }

    .input-form {
        width: 100%;
    }
    .w-100-m {
        width: 100% !important;
    }

    .w-90-m {
        width: 90% !important;
    }

    .d-block-m {
        display: block !important;
    }

    .font-m {
        font-size: 10px !important;
    }

    .m-auto-m {
        margin-left: auto;
        margin-right: auto;
    }

    .mt-2-m {
        margin-top: 20px !important;
    }
    .mt-500-m {
        margin-top: -500px !important;
    }
}

fieldset {
    border: 2px solid #ccc;
    width: 50%;
    padding: 20px;
}

legend {
    font-size: 15pt;
    padding: 5px;
    color: #666666;
}

.name-data {
    text-transform: uppercase;
    font-weight: bold;
}

.overlay {
    z-index: 1041;
    top : 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.overlay-complements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-secondary {
    z-index: 1;
    left: 0;
    top : 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.spinner {
    border: 8px solid #ffffff;
    border-left-color: #1976d2;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.dialog {
    background-color: #ffffff;
    position: relative;
    width: 40%;
    z-index: 2000;
    padding: 0  ;
    margin-top: -420px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
}

.dialog > h1 {
    text-align: center;
    color: #666666;
}

.dialog > h1 {
    font-size: 20pt;
}

.dialog > .form > form{
    width: 100%;
}

.dialog > .form > form > input {
    width: 100%;
    margin-top: 10px;
}

.dialog > .form > form > label {
    color: #666666;
    display: inline-block;
    margin-top: 10px;
}

.dialog > .form > form > div > button {
    margin-top: 20px;
}

.dialog-three > .form {
    text-align: center;
}

.card-my-data {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
}

.alert, .alert-name, .alert-email, .alert-phone {
    color: #ef5350;
    padding: 10px;
}

.alert-recover {
    color : #ef5350;
}

.input-alert {
    box-shadow: 0px 0px 4px 1px  #ef5350;
}

.div-alert {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    padding: 20px;
    color: #ef5350;
    background-color: rgba(239,83,80,0.4);
    border-radius: 5px;
}

.div-alert-two {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    color: #ef5350;
    background-color: rgba(239,83,80,0.4);
    border-radius: 5px;
}

.position-fixed {
    position: fixed;
}


@media (max-width: 468px) {
    .p-40-m {
        padding: 40px;
    }
    .p-20-m {
        padding: 20px;
    }
    .m-default-m {
        margin: 0;
    }

    .position-relative-m {
        position: relative;
    }

    .box-mobile {
        display: inline-block;
        width: 100%;
    }
    .box-internal-mobile {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}

.page {
    margin-left: 5px;
    margin-right: 5px;
}

.page:hover {
    background-color: #1976d2;
    color: #ffffff;
    border-radius: 5px;
}